html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", cursive;
  background-color: #222;
  color: #eee;
  padding: 50px 0;
}

.btn {
  padding: 20px 35px;
  border: none;
  font-family: inherit;
  background-color: #eee;
  font-size: 16px;
  cursor: pointer;
}
.btn:hover {
  background-color: #ccc;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  text-align: center;
}

header {
  border-bottom: 7px solid #eee;
  padding: 0 50px 80px 50px;
  margin-bottom: 90px;
}

main {
  position: relative;
}

.number {
  position: absolute;
  left: 50%;
  top: -160px;
  font-size: 60px;
  background-color: #eee;
  color: #333;
  text-align: center;
  padding: 30px;
  width: auto;
  transform: translate(-50%, 0px);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "input guess"
    "input score";
}

.answer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: input;
  align-self: center;
}

.answer-container input {
  width: 270px;
  display: block;
  background-color: inherit;
  font-size: 60px;
  color: inherit;
  font-family: inherit;
  text-align: center;
  padding: 20px 30px;
  border: 5px solid #eee;
  margin-bottom: 30px;
}

.guess {
  grid-area: guess;
  align-self: center;
  padding-left: 210px;
}

.score {
  grid-area: score;
  align-self: center;
  padding-left: 210px;
}

@media only screen and (max-width: 768px) {
  header {
    padding: 0 0 80px 0;
  }

  .flex .btn {
    margin-bottom: 25px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "guess"
      "input"
      "score";
    row-gap: 30px;
  }
  .guess {
    padding-left: 0;
    text-align: center;
  }
  .score {
    padding-left: 0;
    text-align: center;
  }

  .flex {
    flex-direction: column;
  }
}
